html, body, ul, li {
  margin: 0;
  padding: 0; }

body {
  background: #FCD424;
  font: normal 16px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif; }

button, input, code {
  display: inline-block;
  outline: none;
  font: inherit;
  border: none;
  padding: 0; }



input {
  width: 50px; }

  .stack {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -100px;
    border-radius: 10px; }
   li {
    width: 200px;
    height: 300px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
    line-height: 300px;
    text-align: center;
    font-size: 100px;
    border: 10px solid #ECECEC;
    box-sizing: border-box;
    cursor: default; }
    li.clubs, #viewport li.spades {
      color: #373737; }
    li.diamonds, #viewport li.hearts {
      color: #ED5D52; }
    li.in-deck:nth-child(3) {
      top: 2px;
      transform: translate(2px, 2px) rotate(0.4deg); }
    li.in-deck:nth-child(2) {
      top: 4px;
      transform: translate(-4px, -2px) rotate(-1deg); }
